.App {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.likes-button {
  padding: 10px;
  background-color: red;
  color: white;
  border-radius: 100px;
  border: none;
  border-style: dashed;
}

.liked {
  background-color: white;
  color: black;
}

.likes-counter {
  font-weight: bold;
}